services: 
  backend: 
    build: 
      context: ./backend/api
      dockerfile: Dockerfile
    image: skjustsk/url-shortener-backend:latest
    ports:  
      - "3000:3000" 
    env_file:
      - ./backend/api/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: skjustsk/url-shortener-frontend:latest
    ports:
      - "4000:80" # Maps Host 4000 -> Container 80 (Nginx)
    restart: always